<% provide(:title, "About") %>
<% provide(:h1, "More info?") %>

<p>
Link to <a href="http://localhost:3000/static_pages/home">Home Page</a>
</p>
<p>
Link to <a href="http://localhost:3000/static_pages/help">Help Page</a>
</p>
