<% provide(:title , "Help") %>
<% provide(:h1, "How can we assist?") %>

<p>
Link to <a href="http://localhost:3000/static_pages/home">Home Page</a>
</p>
<p>
Link to <a href="http://localhost:3000/static_pages/about">About Page</a>
</p>
