<div class="jumbotron">

  <% provide(:title, "Home") %>

  <h1>Welcome to Code 4 Chumps d</h1>
  <h2>Blog for coder chumps</h2>

    <br>

    <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>

</div>
