<div class="jumbotron">

  <% provide(:title, "Home") %>

  <h1>Welcome to Code 4 Chumps</h1>
  <h2>Blog for coder chumps</h2>
    <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Current Users!", users_path, class: "btn btn-lg btn-info" %>

</div>
