<footer class="footer">
  <hr>
<h3>Stay around and post anything about programming</h3>
<nav>
  <ul>
    <li><a href="#">About Us</li>
      <li><a href="#">Contact</li>
        <li><a href="#">Email</li>
        </ul>
</footer>
