<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Code4Chumps", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", 'http://localhost:3000/static_pages/home' , id: "switch" %></li>
        <li><%= link_to "Help", 'http://localhost:3000/static_pages/help' , id: "switch"  %></li>
        <li><%= link_to "Log in", 'http://localhost:3000/static_pages/about' , id: "switch" %>
      </ul>
    </nav>
  </div>
  </header>
