<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Code4Chumps", home_path , id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", home_path , id: "switch" %></li>
        <li><%= link_to "Help", help_path , id: "switch"  %></li>
        <li><%= link_to "About", about_path , id: "switch" %>
      </ul>
    </nav>
  </div>
  </header>
